In [1]:
from pandas import read_csv,concat,crosstab,DataFrame,cut
from numpy import nan,append,trace,tril
import glob

1- Baixe os dados referentes ao Censo da Educação Superior de 2009 a 2020.
2-listando as variáveis que serão necessárias para o desenvolvimento da presente atividade.
3-O processo de leitura deve ser feito em laço (usando for e concat) para criar um painel de dados.

In [2]:
arquivos=[]
for arquivo in glob.glob(r'C:\Users\gabri\OneDrive\Documentos\dados_av2_tdadd\cursos\*csv'):
     arquivos.append(read_csv(arquivo, sep = ';' , encoding = 'ISO-8859-1',
                              usecols=['NU_ANO_CENSO','NO_UF','QT_ING','QT_CONC','CO_IES','TP_CATEGORIA_ADMINISTRATIVA','TP_ORGANIZACAO_ACADEMICA']))

In [3]:
tabela=concat(arquivos, axis=0)
tabela.rename(columns = {'NU_ANO_CENSO':'ANO','NO_UF':'UF','TP_ORGANIZACAO_ACADEMICA':'TP_ORG_AC',
 'TP_CATEGORIA_ADMINISTRATIVA':'TP_CT_ADM','QT_ING':'INGRESSANTES','QT_CONC':'CONCLUINTES','CO_IES':'CO_IES'}, inplace = True)
tabela

,ANO,UF,TP_ORG_AC,TP_CT_ADM,CO_IES,INGRESSANTES,CONCLUINTES
0,2009,NaN,1,1,1,302.0,0.0
1,2009,Mato Grosso,1,1,1,38.0,0.0
2,2009,Mato Grosso,1,1,1,72.0,0.0
3,2009,Mato Grosso,1,1,1,46.0,0.0
4,2009,Mato Grosso,1,1,1,47.0,23.0
...,...,...,...,...,...,...,...
335624,2020,Mato Grosso,1,1,25352,40.0,17.0
335625,2020,Mato Grosso,1,1,25352,63.0,18.0
335626,2020,Mato Grosso,1,1,25352,55.0,10.0
335627,2020,Mato Grosso,1,1,25352,46.0,6.0
335628,2020,Mato Grosso,1,1,25352,21.0,18.0

  4. Inspecione os dados para identificar de a tipagem das colunas está de acordo com o esperado.

In [4]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1387172 entries, 0 to 335628
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ANO           1387172 non-null  int64
 1   UF            1364813 non-null  object
 2   TP_ORG_AC     1387172 non-null  int64
 3   TP_CT_ADM     1387172 non-null  int64
 4   CO_IES        1387172 non-null  int64
 5   INGRESSANTES  1370658 non-null  float64
 6   CONCLUINTES   1321296 non-null  float64
dtypes: float64(2), int64(4), object(1)
memory usage: 84.7+ MB

In [5]:
#retirando os NAN
tabela=tabela.dropna(subset=['UF']).fillna(value={'TP_ORG_AC':0,'TP_CT_ADM':0,'INGRESSANTES':0,'CONCLUINTES':0})

Filtragem para dados somente de Universidades federais .

In [6]:
tabela.query('TP_ORG_AC==1 & TP_CT_ADM==1', inplace=True)
tabela

,ANO,UF,TP_ORG_AC,TP_CT_ADM,CO_IES,INGRESSANTES,CONCLUINTES
1,2009,Mato Grosso,1,1,1,38.0,0.0
2,2009,Mato Grosso,1,1,1,72.0,0.0
3,2009,Mato Grosso,1,1,1,46.0,0.0
4,2009,Mato Grosso,1,1,1,47.0,23.0
5,2009,Mato Grosso,1,1,1,46.0,0.0
...,...,...,...,...,...,...,...
335624,2020,Mato Grosso,1,1,25352,40.0,17.0
335625,2020,Mato Grosso,1,1,25352,63.0,18.0
335626,2020,Mato Grosso,1,1,25352,55.0,10.0
335627,2020,Mato Grosso,1,1,25352,46.0,6.0
335628,2020,Mato Grosso,1,1,25352,21.0,18.0

tabela base para questões

In [7]:
T=tabela[['ANO','UF','INGRESSANTES','CONCLUINTES']]
T

         ANO           UF  INGRESSANTES  CONCLUINTES
1       2009  Mato Grosso          38.0          0.0
2       2009  Mato Grosso          72.0          0.0
3       2009  Mato Grosso          46.0          0.0
4       2009  Mato Grosso          47.0         23.0
5       2009  Mato Grosso          46.0          0.0
...      ...          ...           ...          ...
335624  2020  Mato Grosso          40.0         17.0
335625  2020  Mato Grosso          63.0         18.0
335626  2020  Mato Grosso          55.0         10.0
335627  2020  Mato Grosso          46.0          6.0
335628  2020  Mato Grosso          21.0         18.0

[71895 rows x 4 columns]

5. A seguir são listadas questões que devem ser respondidas para as universidades federais:

(a) Qual é a taxa de evasão dos cursos por ano?

In [8]:
A=T.groupby('ANO').sum().reset_index() 
A

     ANO  INGRESSANTES  CONCLUINTES
0   2009      224810.0      88090.0
1   2010      263295.0      94226.0
2   2011      270069.0      98582.0
3   2012      289117.0      98213.0
4   2013      279145.0     105698.0
5   2014      299589.0     116252.0
6   2015      283996.0     121620.0
7   2016      283914.0     132669.0
8   2017      310260.0     136026.0
9   2018      288443.0     139223.0
10  2019      283962.0     130205.0
11  2020      271312.0     101555.0

CALCULO DA EVASÃO

In [9]:
y=0
x=5
u=0
e=[]
for i in A['ANO']:
    if i < 2014:
        e.append(u)
    else:
        while x <12:           
            e.append(round(((1-(A.loc[x,'CONCLUINTES']/A.loc[y,'INGRESSANTES']))*100),2))
            x+=1
            y+=1
A['EVASAO_ANO']=e
A

     ANO  INGRESSANTES  CONCLUINTES  EVASAO_ANO
0   2009      224810.0      88090.0        0.00
1   2010      263295.0      94226.0        0.00
2   2011      270069.0      98582.0        0.00
3   2012      289117.0      98213.0        0.00
4   2013      279145.0     105698.0        0.00
5   2014      299589.0     116252.0       48.29
6   2015      283996.0     121620.0       53.81
7   2016      283914.0     132669.0       50.88
8   2017      310260.0     136026.0       52.95
9   2018      288443.0     139223.0       50.13
10  2019      283962.0     130205.0       56.54
11  2020      271312.0     101555.0       64.24

(b) Qual é a taxa de evasão dos cursos em 2020 por unidade federativa (UF)?

In [10]:
B15=T.query('ANO==2015').groupby(['ANO','UF']).agg('sum').reset_index()
B20=T.query('ANO==2020').groupby(['ANO','UF']).agg('sum').reset_index()
B=B20.merge(B15, on=['UF'], how='inner')
B=B[['UF','ANO_x','CONCLUINTES_x','ANO_y','INGRESSANTES_y']]
B

                     UF  ANO_x  CONCLUINTES_x  ANO_y  INGRESSANTES_y
0                  Acre   2020          887.0   2015          2337.0
1               Alagoas   2020         2164.0   2015          5946.0
2                 Amapá   2020          691.0   2015          2389.0
3              Amazonas   2020         1297.0   2015          6532.0
4                 Bahia   2020         3174.0   2015         13470.0
5                 Ceará   2020         4098.0   2015          9269.0
6      Distrito Federal   2020         3738.0   2015          9841.0
7        Espírito Santo   2020         2178.0   2015          4619.0
8                 Goiás   2020         3005.0   2015          7377.0
9              Maranhão   2020         2555.0   2015          7251.0
10          Mato Grosso   2020          940.0   2015          5753.0
11   Mato Grosso do Sul   2020         2774.0   2015          7698.0
12         Minas Gerais   2020        14467.0   2015         37858.0
13               Paraná   2020         4224.0   2015         18390.0
14              Paraíba   2020         2877.0   2015         12592.0
15                 Pará   2020         4664.0   2015         10768.0
16           Pernambuco   2020         5262.0   2015         12488.0
17                Piauí   2020         4468.0   2015          5666.0
18  Rio Grande do Norte   2020         3723.0   2015         10725.0
19    Rio Grande do Sul   2020         9277.0   2015         25842.0
20       Rio de Janeiro   2020        14288.0   2015         35460.0
21             Rondônia   2020          747.0   2015          2524.0
22              Roraima   2020          434.0   2015          1624.0
23       Santa Catarina   2020         2789.0   2015          8729.0
24              Sergipe   2020         1352.0   2015          6051.0
25            São Paulo   2020         4315.0   2015          9695.0
26            Tocantins   2020         1167.0   2015          3102.0

In [11]:
e=[]
x=0
while x != 27:
    e.append(round(((1-((B.loc[x,'CONCLUINTES_x'])/(B.loc[x,'INGRESSANTES_y'])))*100),2))
    x+=1
B['EVASAO_2020']=e

In [12]:
B.loc[:,['UF','EVASAO_2020']]

                     UF  EVASAO_2020
0                  Acre        62.05
1               Alagoas        63.61
2                 Amapá        71.08
3              Amazonas        80.14
4                 Bahia        76.44
5                 Ceará        55.79
6      Distrito Federal        62.02
7        Espírito Santo        52.85
8                 Goiás        59.27
9              Maranhão        64.76
10          Mato Grosso        83.66
11   Mato Grosso do Sul        63.96
12         Minas Gerais        61.79
13               Paraná        77.03
14              Paraíba        77.15
15                 Pará        56.69
16           Pernambuco        57.86
17                Piauí        21.14
18  Rio Grande do Norte        65.29
19    Rio Grande do Sul        64.10
20       Rio de Janeiro        59.71
21             Rondônia        70.40
22              Roraima        73.28
23       Santa Catarina        68.05
24              Sergipe        77.66
25            São Paulo        55.49
26            Tocantins        62.38

c) Qual é a taxa de evasão dos cursos por UF e ano?

In [13]:
ing=crosstab(index= T['UF'],columns=T['ANO'],values=T['INGRESSANTES'],aggfunc='sum')
con=crosstab(index= T['UF'],columns=T['ANO'],values=T['CONCLUINTES'],aggfunc='sum')

In [14]:
C=DataFrame({'uf':T['UF']}).groupby('uf').agg('sum')
x=2020
while x!= 2013:
    C[x]=round(((1-((con[x])/(ing[x-5])))*100),2)
    x-=1
C.drop('Distância',inplace=True)
C.loc['Amapá',2014]=0 # tirando valor negativo
C.loc['Piauí',2018]=0
C

                      2020   2019   2018   2017   2016   2015   2014
uf
Acre                 62.05  57.08  36.34  47.98  44.32  53.08  41.73
Alagoas              63.61  57.78  63.39  59.96  49.69  46.02  57.30
Amapá                71.08  67.61  33.59  18.37  18.68  54.13   0.00
Amazonas             80.14  61.44  63.23  31.84  27.37  37.34  57.80
Bahia                76.44  53.45  45.83  48.56  58.10  57.27  52.84
Ceará                55.79  57.64  42.91  51.49  52.11  39.07  40.74
Distrito Federal     62.02  47.36  42.92  44.46  49.17  52.24  49.37
Espírito Santo       52.85  63.01  19.67  52.21  46.24  45.16  48.11
Goiás                59.27  56.58  47.77  49.64  56.04  42.86  52.34
Maranhão             64.76  62.47  56.16  58.78  54.87  47.37  50.76
Mato Grosso          83.66  61.31  58.63  60.95  53.77  60.87  46.04
Mato Grosso do Sul   63.96  64.25  61.90  58.85  48.83  57.69  46.44
Minas Gerais         61.79  49.10  46.34  54.59  45.76  45.02  41.45
Paraná               77.03  50.59  49.85  57.11  59.47  59.02  54.33
Paraíba              77.15  60.49  57.78  57.85  54.25  61.11  49.32
Pará                 56.69  36.08  29.18  20.80  11.64  20.68  14.03
Pernambuco           57.86  51.39  50.18  53.50  56.12  60.38  48.71
Piauí                21.14  74.08   0.00  60.40  30.57  65.67  36.43
Rio Grande do Norte  65.29  59.69  53.04  56.63  37.67  52.63  45.45
Rio Grande do Sul    64.10  56.73  55.57  55.00  59.55  52.91  47.56
Rio de Janeiro       59.71  60.89  62.08  57.04  59.93  60.28  53.88
Rondônia             70.40  55.17  49.05  44.47  65.15  51.89  57.57
Roraima              73.28  64.05  64.36  71.08  57.85  63.14  66.12
Santa Catarina       68.05  62.71  57.69  53.77  57.15  55.41  49.54
Sergipe              77.66  70.35  56.65  59.11  68.55  76.86  77.29
São Paulo            55.49  48.77  42.41  51.57  45.59  41.38  47.83
Tocantins            62.38  61.29  38.29  51.56  34.93  78.87  26.47

UNIVERSIDADES

In [15]:
arquivos_ies=[]
for arquivo in glob.glob(r'C:\Users\gabri\OneDrive\Documentos\dados_av2_tdadd\ies\*csv'):
     arquivos_ies.append(read_csv(arquivo, sep = ';' , encoding = 'ISO-8859-1',
                              usecols=['NU_ANO_CENSO','SG_IES','CO_IES']))
tabela_ies=concat(arquivos_ies)

tabela_ies.rename(columns = {'NU_ANO_CENSO':'ANO','SG_IES':'SG_IES','CO_IES':'CO_IES'}, inplace = True)
tabela_ies

       ANO  CO_IES  SG_IES
0     2009       1    UFMT
1     2009       2     UNB
2     2009       3     UFS
3     2009       4    UFAM
4     2009       5    UFPI
...    ...     ...     ...
2452  2020   25274   UFCAT
2453  2020   25275   UFAPE
2454  2020   25277  UFDPAR
2455  2020   25282     UFJ
2456  2020   25352     UFR

[29053 rows x 3 columns]

In [16]:
TB_CURSO=tabela[['ANO','UF','CO_IES','INGRESSANTES','CONCLUINTES']]

In [17]:
TT=tabela_ies.merge(TB_CURSO,on=['CO_IES','ANO'],how='inner')\
.groupby(['ANO','SG_IES','UF']).agg(
   INGRESSANTES=('INGRESSANTES',sum),CONCLUINTES=('CONCLUINTES',sum))
TT=TT.reset_index().fillna(value={'EVASAO_CURSO':0})
TT

       ANO   SG_IES                 UF  INGRESSANTES  CONCLUINTES
0     2009     FURG  Rio Grande do Sul        2190.0        793.0
1     2009    UFABC          São Paulo        1830.0          0.0
2     2009     UFAC               Acre        1989.0        740.0
3     2009     UFAL            Alagoas        5018.0       3042.0
4     2009     UFAM           Amazonas        5860.0       1776.0
...    ...      ...                ...           ...          ...
1379  2020   UNIRIO     Rio de Janeiro        2908.0       1200.0
1380  2020  UNIVASF              Bahia         971.0        415.0
1381  2020  UNIVASF         Pernambuco         855.0        416.0
1382  2020  UNIVASF              Piauí         148.0         31.0
1383  2020    UTFPR             Paraná        8767.0       2017.0

[1384 rows x 5 columns]

In [133]:
anos=[2020,2019,2018,2017,2015,2014]
ar=[]
for i in anos:
    ar.append(TT.query(f'ANO=={i-5}').merge(TT.query(f'ANO=={i}'),on=['SG_IES','UF'],how='inner'))
tab=concat(ar, axis=0)
tab=tab.assign(
    EVASAO=lambda x: round(((1-((x.CONCLUINTES_y)/(x.INGRESSANTES_x)))*100),2)
)
tab=tab[['ANO_y','SG_IES','UF','EVASAO']]
tab.rename(columns={'ANO_y':'ANO'},inplace=True)
tab['EVASAO']=tab['EVASAO'].clip(lower=0,upper=100)
tab

     ANO   SG_IES                 UF  EVASAO
0   2020     FURG  Rio Grande do Sul   69.96
1   2020    UFABC          São Paulo   69.26
2   2020     UFAC               Acre   62.22
3   2020     UFAL            Alagoas   63.61
4   2020     UFAM           Amazonas   80.14
..   ...      ...                ...     ...
80  2014   UNIRIO     Rio de Janeiro   61.45
81  2014  UNIVASF              Bahia   68.28
82  2014  UNIVASF         Pernambuco   49.69
83  2014  UNIVASF              Piauí   55.56
84  2014    UTFPR             Paraná   62.29

[531 rows x 4 columns]

TABELA FINAL PARA ULTILIZAÇÃO

In [138]:
tab_=TT.query('ANO>2013').merge(tab,on=['ANO','SG_IES','UF'],how='inner')
a=tab_.query('INGRESSANTES==0.0 & CONCLUINTES==0.0')
tab_.drop(a.index,axis=0,inplace=True)

d) Qual é a probabilidade de persistência da evasão dos cursos em universidades federais entre 2014 e
2020? Para essa questão, crie uma variável faixa_evasao por quartil dos limiares teóricos para a taxa
evasão

In [139]:

TAB_D=tab_.query('ANO==2014').rename(columns={'EVASAO':'EVASAO_14'}).merge(tab_.query('ANO==2020')\
    .rename(columns={'EVASAO':'EVASAO_20'}),on='SG_IES',how='outer',indicator=True)
fax_eva=TAB_D.assign( quartil_14= lambda z : cut(z.EVASAO_14,bins=[0,25,50,75,100],include_lowest=True),
                quartil_20= lambda z : cut(z.EVASAO_20,bins=[0,25,50,75,100],include_lowest=True)
                )
dd=crosstab(fax_eva.quartil_14,fax_eva.quartil_20,normalize='all')
D=trace(dd)
D

0.24025974025974028

e) Qual é a probabilidade de transição para um piora no indicador da evasão dos cursos em universidades
federais entre 2014 e 2020?

In [140]:
E=tril(dd).sum()
E

0.6298701298701298

(f) Quais são as 10 universidades federais com as maiores taxas de evasão em 2020?

In [137]:
F=tab_.query('ANO==2020').sort_values('EVASAO',ascending=False).reset_index().head(10)
F

   index   ANO SG_IES            UF  INGRESSANTES  CONCLUINTES  EVASAO
0    504  2020    UFU  Minas Gerais        3707.0        477.0   91.13
1    466  2020   UFMT   Mato Grosso        4022.0        805.0   86.01
2    447  2020   UFBA         Bahia        6953.0       1260.0   84.59
3    475  2020   UFPB       Paraíba        7972.0       1370.0   81.81
4    521  2020  UNILA        Paraná        1293.0        245.0   81.08
5    446  2020   UFAM      Amazonas        4498.0       1297.0   80.14
6    455  2020   UFFS        Paraná         546.0        126.0   79.97
7    492  2020    UFS       Sergipe        7123.0       1352.0   77.66
8    482  2020   UFPR        Paraná        9218.0       1794.0   77.63
9    530  2020  UTFPR        Paraná        8767.0       2017.0   76.12

g) Quais são as 10 universidades federais com os maiores crescimento nas taxas de evasão entre 2015 e
2019?

In [141]:
G=tab_.query('ANO==2015').merge(tab_.query('ANO==2019'),on=['SG_IES','UF'],how='inner')
G['crescimento']=(G['EVASAO_y']-G['EVASAO_x'])

G.sort_values('crescimento',ascending=False).head(10)

,ANO_x,SG_IES,UF,INGRESSANTES_x,CONCLUINTES_x,EVASAO_x,ANO_y,INGRESSANTES_y,CONCLUINTES_y,EVASAO_y,crescimento
62,2015,UNB,Paraíba,0.0,8.0,0.0,2019,0.0,1.0,98.00,98.00
64,2015,UNB,Tocantins,0.0,7.0,0.0,2019,0.0,1.0,96.00,96.00
63,2015,UNB,São Paulo,0.0,39.0,2.5,2019,0.0,4.0,96.88,94.38
61,2015,UNB,Minas Gerais,0.0,46.0,0.0,2019,1.0,13.0,93.05,93.05
60,2015,UNB,Goiás,0.0,67.0,0.0,2019,0.0,22.0,87.78,87.78
58,2015,UNB,Bahia,2.0,18.0,0.0,2019,0.0,18.0,87.14,87.14
45,2015,UFSC,Paraná,2.0,31.0,0.0,2019,2.0,24.0,80.17,80.17
46,2015,UFSC,Rio Grande do Sul,6.0,102.0,0.0,2019,0.0,25.0,52.83,52.83
26,2015,UFOPA,Pará,1224.0,368.0,0.0,2019,1605.0,741.0,42.24,42.24
23,2015,UFOP,Bahia,0.0,22.0,56.0,2019,0.0,5.0,91.23,35.23

(h) Quais são as 10 universidades federais com os maiores crescimento nas taxas de evasão entre 2019 e
2020?

In [142]:
G=tab_.query('ANO==2019').merge(tab_.query('ANO==2020'),on=['SG_IES','UF'],how='inner')
G['crescimento']=(G['EVASAO_y']-G['EVASAO_x'])
G.sort_values('crescimento',ascending=False).head(10)

,ANO_x,SG_IES,UF,INGRESSANTES_x,CONCLUINTES_x,EVASAO_x,ANO_y,INGRESSANTES_y,CONCLUINTES_y,EVASAO_y,crescimento
32,2019,UFPB,Pernambuco,0.0,3.0,0.00,2020,0.0,1.0,90.91,90.91
59,2019,UFU,Minas Gerais,4998.0,2893.0,42.54,2020,3707.0,477.0,91.13,48.59
37,2019,UFPR,Paraná,7117.0,4094.0,34.91,2020,9218.0,1794.0,77.63,42.72
5,2019,UFBA,Bahia,7615.0,3313.0,47.62,2020,6953.0,1260.0,84.59,36.97
24,2019,UFOB,Bahia,1121.0,239.0,42.41,2020,1101.0,188.0,72.43,30.02
83,2019,UNIVASF,Piauí,169.0,56.0,37.08,2020,148.0,31.0,65.93,28.85
29,2019,UFPA,Pará,8643.0,6306.0,33.57,2020,7665.0,2645.0,60.77,27.20
58,2019,UFTM,Minas Gerais,1820.0,762.0,36.07,2020,1904.0,625.0,61.42,25.35
23,2019,UFMT,Mato Grosso,5586.0,2284.0,61.31,2020,4022.0,805.0,86.01,24.70
1,2019,UFABC,São Paulo,2674.0,1661.0,47.45,2020,2074.0,1138.0,69.26,21.81

6. Para finalizar, construa uma tabela com a síntese estatística da taxa de evasão. O resumo deve ser feito por
ano e nas colunas devem estar as seguintes estatísticas: média, desvio-padrão, mediana, mínimo e máximo.

In [143]:

tab_=DataFrame()
tab_['evasao']=C.agg(sum)
tab_['ano']=[2020,2019,2018,2017,2016,2015,2014]
tab_=tab_.set_index('ano')

In [144]:


tab6=tab_.reset_index().groupby('ano').describe()

tab6

     evasao
      count     mean std      min      25%      50%      75%      max
ano
2014    1.0  1259.45 NaN  1259.45  1259.45  1259.45  1259.45  1259.45
2015    1.0  1438.35 NaN  1438.35  1438.35  1438.35  1438.35  1438.35
2016    1.0  1303.37 NaN  1303.37  1303.37  1303.37  1303.37  1303.37
2017    1.0  1387.57 NaN  1387.57  1387.57  1387.57  1387.57  1387.57
2018    1.0  1284.81 NaN  1284.81  1284.81  1284.81  1284.81  1284.81
2019    1.0  1571.36 NaN  1571.36  1571.36  1571.36  1571.36  1571.36
2020    1.0  1743.65 NaN  1743.65  1743.65  1743.65  1743.65  1743.65